.header {
  margin: auto;
  background-color: pink;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
font-size: 25px;
color:lightblue;
text-align: center;
font-style: oblique;
font-weight: 500;

}


/* map style */
#map{
  text-align: center;
  height: 700px;
  margin-top: 0px;
}

#mapnav{
  width: 1200px;
  text-align: center;
  margin:auto;
align-items: center;
justify-content: center;
  }
.circle {
  fill: #4fbba9;
  opacity: .5;
}

.circle:hover {
  fill: darkred;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 50;
  padding: 2px;
  font: 15px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/* mapnavs */
#navigation1{
  grid-template-columns: 1fr 1fr 1fr  2fr 1fr 1fr;
  display: grid;
  margin: 30px;
}

.button {
  text-align: center;
  display: block;
/* width: 200px; */
  background-color: lightblue;
  margin: 10px;
}

.button1 {
  text-align: center;
  display: block;
/* width: 150px; */
  height: 35px;
  background-color: lightgrey;
  /* border: 2px solid red; */
  border-radius: 5px;
  margin: 10px;
}

.nested{
  display: grid;
    grid-template-columns: 1fr 1fr;

}
.nested div{
  margin:5px;
}


/* #y1960, #y1990, #y2015 {
  display: inline;
  width: 150px;
  height: 45px;
  background-color: lightblue;
  border-radius: 10px;
  margin: 10px;
}



/* beeswarm chart */

#beeswarm{

  text-align: center;
  height: 800px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}

 .circ:hover {
  fill: red;
}

/* .d_sel{
  background: grey;
} */



.circ {
  fill: #bc53ff;
  fill-opacity: 0.3;
/*   stroke: black; */
  cursor: pointer;
}


.d_sel{
  height: 35px;
  width: 100px;
  background-color: lightblue;
  margin: 30px;
  margin-top: 100px;
}

/* factsheet chart */
.factnav{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.nested2{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}

.factbutton{
  text-align: center;
  display: block;
  height: 30px;
/* width: 200px; */
  background-color: lightblue;
  margin: 10px;

}

.ms{
    background-color: lightgreen;
}


.factnav h3{
  align-items: center;
  margin: auto;
}

/* .factbutton p{
  align-items: center;
  margin: auto;
  justify-content: center;
  display: inline-block;
  background-color: grey;
  display: inline;
} */

.factPic{
  width:290px;
  height: auto;
  display: inline-block;
  background-color: grey;
  margin:10px;
}

.factPicImages{
  width: 290px;
}


#reset,
#resetmap {
  height:50px;
  width:100px;
  background-color: red;
  text-align: center;
  margin: auto;
}


#factsheet,
#major,
#track{
  width: 950px;
  text-align: center;
  margin:auto;

align-items: center;
justify-content: center;
}
