.header {
  margin: auto;
  background-color: pink;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .svg{
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

} */
.circle {
  fill: #4fbba9;
  opacity: .5;
}

.rect {
  fill: red;
  opacity: .5;
}

.circle:hover {
  opacity: 1;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 80px;
  padding: 2px;
  font: 16px sans-serif;
  background: yellow;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.buttons {
  grid-template-columns: 220px 220px 220px 220px 220px 220px;
  display: grid;
  margin: 10px;
}

.button {
  display: block;
  width: 200px;
  background-color:orange;
  margin: 10px;
}

.button1 {
  display: block;
  width: 150px;
  height: 45px;
  background-color: lightpink;
  /* border: 2px solid red; */
border-radius: 10px;
  margin: 10px;
}
