
.div1{

  margin: auto;

  background-color: pink;
text-align: center;
position: relative;
display: flex;
align-items: center;
justify-content: center;


}

/* .svg{
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


} */

.circle {
  fill: #4fbba9;
  opacity: .5;
}

.rect {
  fill: red;
  opacity: .5;
}

.circle:hover {
  opacity: 1;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 80px;
  padding: 2px;
  font: 16px sans-serif;
  background: yellow;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
