.header {
  margin: auto;
  background-color: pink;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
font-size: 25px;
color:lightblue;
text-align: center;
font-style: oblique;
font-weight: 500;

}



.circle {
  fill: #4fbba9;
  opacity: .5;
}

.circle:hover {
  fill: darkred;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 50;
  padding: 2px;
  font: 15px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.navigation1{
  grid-template-columns: 220px 220px 220px 220px 440px 220px;
/*   grid-template-areas: "nav header header " "nav content sidebar"; */
  display: grid;
  margin: 10px;
}


.button {
  text-align: center;
  display: block;
/* width: 200px; */
  background-color: orange;
  margin: 10px;
}


.button1 {
  text-align: center;
  display: block;
/* width: 150px; */
  height: 35px;
  background-color: lightpink;
  /* border: 2px solid red; */
  border-radius: 10px;
  margin: 10px;
}

/* #y1960, #y1990, #y2015 {
  display: inline;
  width: 150px;
  height: 45px;
  background-color: lightblue;
  border-radius: 10px;
  margin: 10px;
}


/* beeswarm chart */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}

.cells circle:hover {
  fill: red;
}
