.headline {
  margin: auto;
  background-color: pink;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
font-size: 25px;
color:lightblue;
text-align: center;
font-style: oblique;
font-weight: 500;

}


/* map style */
#map{
  text-align: center;
  height: 620px;
  margin-top: 0px;
}

#mapnav{
  width: 1200px;
  text-align: center;
  margin:auto;
align-items: center;
justify-content: center;
  }
.circle {
  fill: #4fbba9;
  opacity: .5;
}

.circle:hover {
  fill: darkred;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 250px;
  height: 100px;
  padding: 2px;
  font: 15px sans-serif;
  background: rgba(153,153,255,.5);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

form{

  padding:0;
  margin: 0;
}



/* mapnavs */
#navigation1{
  grid-template-columns: 1fr 1fr 1fr  2fr 1fr;
  display: grid;
  margin: 30px;
  max-width: 1200px
  text-align: center;
  margin-left:250px;
  margin-right:250px;

}


.results{

  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  /* display:inline-block; */
  margin: 10px;
  text-align: center;
  margin: auto;
  max-width: 1000px;

}

#specilizationgrid{
  grid-template-columns: 1fr 3fr;
  display: grid;
  margin: 30px;
}

#resetfilter{
  text-align: center;
  display: block;
  margin:auto;
align-items: center;
justify-content: center;
/* width: 150px; */
  height: 35px;
  width:80px;
  margin-bottom: 40px;
}
.button {
  display: block;
/* width: 200px; */
/*   background-color: lightblue; */
  margin: 10px;
  border: 1px solid grey;
}


.button1,
.button2,
.button3,
.button4,
.button5,
.button6 {

  display: block;
/* width: 150px; */
  height: 35px;
/*   background-color: lightgrey; */
/*   border: 2px solid red; */
  border-radius: 5px;
  margin: 10px;
}

.nested{
  display: grid;
    grid-template-columns: 1fr 1fr;

}
.nested div{
  margin:5px;
}


/* #y1960, #y1990, #y2015 {
  display: inline;
  width: 150px;
  height: 45px;
  background-color: lightblue;
  border-radius: 10px;
  margin: 10px;
}



/* beeswarm chart */

#beeswarm{

  text-align: center;
  height: 800px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}

 .circ:hover {
  fill: red;
}

/* .d_sel{
  background: grey;
} */



.circ {
  fill: #bc53ff;
  fill-opacity: 0.3;
/*   stroke: black; */
  cursor: pointer;
}


.d_sel{
  height: 35px;
  width: 100px;
  background-color: lightblue;
  margin: 30px;
  margin-top: 100px;
}

/* factsheet chart */
.factnav{
  display: grid;
  grid-template-columns: 1fr 5fr;

}

.nested2{
  display: grid;
  grid-template-columns: repeat(5,1fr);

}

.factbutton{

display: flex;
 vertical-align: middle;
   align-items: center;
   justify-content: center;

/*   display: block; */
  height: 35px;

/* width: 200px; */
  background-color: lightblue;
  margin: 10px;

}

/* .ms{
    background-color: lightgreen;
}
 */

.factnav h3{
  align-items: center;
  margin: auto;
}


#hides{
  color:white;

}
.factPic{
  width:400px;
/* height: 700px; */
  display: inline-block;
/* background-color: grey; */
  margin:30px;
}

.factPicImages{
  width: 400px;
}


#reset,
#resetmap {
  height:50px;
  width:100px;
  background-color: red;
  text-align: center;
  margin: auto;

}


#factsheet,
#major,
#track{
  width: 950px;
  text-align: center;
  margin:auto;

align-items: center;
justify-content: center;
}

 span.img{
/* display: none;
  float:left;
  margin-left: 10px; */
}


.img{
display: absolute;
left: 50px;

}



.CheckboxStyle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}



/*
label{
  font-size: 16px;
  color:pink;
    vertical-align: middle;
    margin: auto;
    display:block;

    font-size: 14px;
    color:pink;

}


.checkmark {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
On mouse-over, add a grey background color
.labelcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

When the checkbox is checked, add a blue background
.labelcontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

Create the checkmark/indicator (hidden when not checked).checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

Show the checkmark when checked
.labelcontainer input:checked ~ .checkmark:after {
  display: block;
}


.labelcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
 */


.CheckboxStyle label {
  display:block;
  position:relative;
  padding:10px 5px 10px 35px;
  font-size: 18px;
  color:pink;
  cursor:pointer;
}


.checkmark {
  position: absolute;
 vertical-align: middle;
 text-align: center;
 margin:auto;
/* top: 0px; */
left: 0;
 height: 20px;
 width: 20px;
 background-color: pink;
  border:2px solid #ddd;

}


/* On mouse-over, add a grey background color */
.labelcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.labelcontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.labelcontainer input:checked ~ .checkmark:after {
  display: block;
}


.labelcontainer .checkmark:after {
/*   left: 9px;
top: 5px;
width: 5px;
height: 10px; */
width: 6px;
height: 12px;
top:0px;
left: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

P{
  font-size: 20px;
}

label{
  font-size: 18px;
}

/* .comparison{
  width:1200px;
} */

/* .CheckboxStyle input[type="checkbox"]:checked+label:after {

  border:2px solid #009688;
  border-width:0 2px 2px 0;
  width: 8px;
  height: 16px;
  top:7px;
  left: 7px;
    background:pink;


  -moz-transform: rotate(31deg);
  -ms-transform: rotate(31deg);
  -webkit-transform: rotate(31deg);
  transform: rotate(31deg);
} */
