.headline {
  margin: auto;
  background-color: grey;
  text-align: center;
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
}

header {
  background: #152C32;
  width: 100%;
  /*   height: 50px; */
  position: fixed;
  top: 0;
  z-index: 5;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 100px;
}

nav a {
  color: white;
  text-decoration: none;
/* text-transform: uppercase; */
  font-size: 18px;
 font-family: 'Quicksand';
 font-weight: 700;
}

nav a:hover {
  color: #9F4646;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45PX;
  font-family: 'Righteous';
  color: black;


}

.tooltiptitle{
  color:   #79C5B6;
  font-family: 'Avenir';
  font-size: 16px;
  font-weight: 700;
/*   padding-left: 5px;
padding-right: 5px; */

}
/* .tooltiptitle1{
  color: blue;
} */
#twocol {
  grid-template-columns: 1fr 1fr;
  display: grid;
  /*   margin: 30px; */
  max-width: 950px;
  margin: auto;
  text-align: center;
}

/* map style */
#map {
  text-align: center;
  height: 620px;
  margin-top: 0px;
}

#mapnav {
  width: 1200px;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
}
#cover{
/*   max-height: 300px; */
width: 100%;
opacity: 0.8;
}

#allresult,
#no,
#otherfactors,
#resetfilter{
    display: none;

}

#mapwhole,

#majorwhole,
#degreewhole{
  display: none;
  /* visibility: hidden; */
}

.title{
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
   max-width: 950px;

}
.topspace{
  margin-top: 100px;
}
.circle {
fill: #79C5B6;

/*   fill:#CEEBE5; */
/*   opacity: .5; */
}

.circle:hover {
    fill:  #9F4646;
    opacity: 1;
}

div.tooltip {
  position: absolute;
  text-align:left;
  width: 200px;
  height: 115px;
  padding: 15px;
font-size: 14px;
font-family:Avenir;

/*   background: rgba(149, 192, 253, .7); */
/*     background: rgba(255, 255, 255, .9); */
background-color: grey;
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
}

.tooltip2 {
  position: absolute;
  text-align:left;
  width: 200px;
  height: 100px;
  padding: 15px;
font-size: 14px;
font-family:Avenir;

/*   background: rgba(149, 192, 253, .7); */
/*     background: rgba(255, 255, 255, .9); */
background-color: grey;
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
}

.tooltipmajor,
.tooltiplocation{
  color:white;
  font-size: 14px;
}
.tooltip1 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip1 .tooltiptext {
  visibility: hidden;
  width: 380px;
background-color: lightgrey;
  /*   background: rgba(255, 255, 255, .9); */
  color: #fff;
  font-size: 12px;
  text-align: left;
  margin: auto;
  border-radius: 2px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;

  z-index: 1;
}

.tooltip1{
      border-bottom: 0px dotted black;
}
.tooltip1:hover .tooltiptext {
  visibility: visible;
top:20px;
left:20px;
}

form {
  padding: 0;
  margin: 0;
}

/* mapnavs */
#navigation1 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  margin: 30px;
  max-width: 1200px text-align: center;
  margin-left: 250px;
  margin-right: 250px;
}

.results {
/*   grid-template-columns: 1fr 1fr;
display: grid; */
  /* display:inline-block; */
  margin: 10px;
  text-align: center;
  margin: auto;
  max-width: 800px;

}
.twocol_2{
grid-template-columns: 1fr 1fr 1fr 1fr;
display: grid;
    margin: 10px;
    text-align: left;
    margin: auto;
    border:1px solid  lightgrey ;
/* background-color: lightgrey; */
  pading:5px;
}

.threecol{
grid-template-columns: 1fr 1fr 1fr;
display: grid;

    margin: 10px;
    text-align: left;
    margin: auto;

}
#specilizationgrid {
  grid-template-columns: 1fr 3fr;
  display: grid;
  margin: 30px;
}

.button {
  display: block;
  /* width: 200px; */
  /*   background-color: lightblue; */
  margin: 10px;
  /*   border: 1px solid grey; */
  text-align: left;

}
button{
  font-family: Avenir;
  font-size: 14px;
  color:white;
}
.buttoncareer {
  display: inline-block;
  text-align: center;
}

.button1,
.button2,
.button3,
.button4,
.button5,
.button6 {
  display: block;
  /* width: 150px; */
  height: 35px;
  /*   background-color: lightgrey; */

  border-radius: 5px;
  margin: 10px;
}

.nested {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nested div {
  margin: 5px;
}

/* #y1960, #y1990, #y2015 {
  display: inline;
  width: 150px;
  height: 45px;
  background-color: lightblue;
  border-radius: 10px;
  margin: 10px;
}



/* beeswarm chart */
#beeswarm {
  text-align: center;
  height: auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}

.circ:hover {
  fill: #BE6A64;
}

/* .d_sel{
  background: grey;
} */
.circ {
  fill: #CEEBE5;
/*   fill-opacity: 0.3; */
  /*   stroke: black; */
  cursor: pointer;
}

.d_sel {
  height: 35px;
  width: 100px;
  background-color:#BE6A64;
  margin: 30px;
  margin-top: 100px;
}

/* factsheet chart
.factnav {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.nested2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
 */
/* .factbutton {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  display: block;
  height: 35px;
  width: 200px;
  background-color: lightblue;
  margin: 10px;
}
 */

.factnav h3 {
  align-items: center;
  margin: auto;
}

#hides {
  color: white;
}

.factPic {
  width: 550px;
  /* height: 700px; */
  display: inline-block;
  /* background-color: grey; */
  margin: 30px;
}

.factPicImages {
  width: 400px;
}

#reset,
#resetmap,
#resetfilter,
 {
  height: 40px;
  width: 100px;
  background-color: #BE6A64;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  display: block;
}

.linktofilter{

/*   margin: auto; */
  text-align: center;
  display:inline-block;
  font-family: Avenir;
  font-size: 18px;
height: 40px;
width: 200px;
background-color: #BE6A64;
 text-align: center;
  margin: 40px;
font-size: 14px;
/* background-color: #79C5B6; */

}

#tuitionbutton,
#locationbutton,
#majorbutton,
#degreebutton{
  height: 40px;
  width: 100px;
  background-color: #BE6A64;
  text-align: center;
  margin: 0px;
  margin-bottom: 30px;
  display: inline-block;

}

#factsheet,
#major,
#track,
#programoverview {
  width: 950px;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
}

span.img {
  /* display: none;
  float:left;
  margin-left: 10px; */
}

/* span{
  color: grey;
}
 */
.img {
  display: absolute;
  left: 50px;
}

.CheckboxStyle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}



.CheckboxStyle label {
  display: block;
  position: relative;
  padding: 10px 5px 10px 35px;
  font-family: Quicksand;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  /* top: 0px; */
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #white;
  border: 2px solid #ddd;
}

/* On mouse-over, add a grey background color */
.labelcontainer:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.labelcontainer input:checked~.checkmark {
  background-color: #CEEBE5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.labelcontainer input:checked~.checkmark:after {
  display: block;
}

.labelcontainer .checkmark:after {
  width: 6px;
  height: 12px;
  top: 0px;
  left: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

P {
  font-size: 20px;
}

label {
  font-size: 18px;
}

.comparison {
  width: 1300px;
  text-align: center;
  margin: auto;
}

/* section {
  margin-top: 100px;
  text-align: center;
} */
#uxoverview{
  margin-top: 20px;
}
#programoverview,
#yourown{
    margin-top: 100px;
    text-align: center;

}
#designer {
  display: block;
}


h1{
  font-family: 'Righteous';
  font-size: 40px;
  text-align: center;
  color:#9F4646;

}
h2{
  font-family: 'Righteous';
  font-size: 25px;
  text-align: center;
  color:#152C32;
  margin-top: 30px;
}
h3{
  font-family: 'Righteous';
  font-size: 23px;
  text-align: center;
  color:#6E8B87;
  margin-top: 50px;
     margin-bottom: 20px;
}
h4{
  font-family: 'Righteous';
  font-size: 20px;
  text-align: center;
  color:black;
}

h5{
  font-family: 'Quicksand';
  font-size: 15px;
  text-align: center;
  color:grey;
   margin-top: 15px;

}
h6{
  font-family: 'Avenir';
  font-size: 24px;
  text-align: left;
/*   color:grey; */
color:black;
   margin-top: 80px;
   margin-bottom: 150px;

}
p{
  font-family: 'Quicksand';
  font-size: 18px;
text-align: left;
  color:#000000;
}
.centerp{
  font-family: 'Quicksand';
  font-size: 20px;
text-align: center;
  color:#000000;
}

.leftp{
  font-family: 'Quicksand';
  font-size: 20px;
text-align: left;
  color:#000000;
}
.twocol_1{
  margin-left: 30px;
  margin-right: 30px;

}
.result{
/*   font-family: 'Quicksand'; */
  margin-top: 10px;
/*   grid-template-columns: 1fr 1fr; */
  display: block;
  /* font-size: 18px; */
text-align:left;
  color:#000000;
  text-decoration: none;
  display: grid;
  margin-top: 15px;
padding: 15px;
}

.detailedtable{
/* padding-left: 12px; */
padding-right: 10px;
/*   font-family: "Righteous";
font-size: 16px; */
/*   color:#79C5B6; */
display: none;
font-family: "Avenir";
font-size: 16px;
}

.detailedtableS{
/* padding-left: 12px; */
padding-right: 10px;
/*   font-family: "Righteous";
font-size: 16px; */
/*   color:#79C5B6; */

font-family: "Avenir";
font-size: 16px;
}

.domain{
  display: none;
}
.filterb{
  width:180px;
  background: #9F4646;
  height: 25px;
  color:white;

}
.hideb{
  width:180px;
  background: #79C5B6;
  height: 25px;
  color:white;
/*   margin-top: 10px;
margin-bottom: 35px; */
  border-radius: 5px;
}

a{
text-decoration: none;
color: black;
font-size: 20px;
/* font-weight:700; */

}

a:hover{
  color:  #9F4646;

}
.axis text{

  font-family: "Avenir";
  font-size: 14px;
}
.axis line{
  stroke:grey;
/*    y2:500; */
}

#what{
  margin-top: 80px;
}

#majorbar{
  text-align: center;
  margin: auto;
}

.hideb{
  display:none;
}

.careerform{
/*   display: inline-block; */
grid-template-columns: 1fr 1fr;
display: grid;
}
.tabletitle{
  font-family: "Righteous";
  font-size: 18px;
  margin-top: 5px;
}

.rightal{
  text-align: right;
  margin: auto;
}

.tablegreen{
  /* color: #79C5B6; */
    color:grey;
}
.titleuni{
/*   color:grey; */
   color: #79C5B6;
}

.smallt{
  font-size: 12px;
}
/* th, td {
  font-family: 'Quicksand';
  font-size: 12px;
  color:black;
text-align:left;
border: 1px solid #ddd;
}
th{
  font-family:  'Righteous';
  font-size: 14px;
  color:black;
  font-weight: 400;

} */
