.headline {
  margin: auto;
  background-color: grey;
  text-align: center;
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
}

header {
  background: #152C32;
  width: 100%;
  /*   height: 50px; */
  position: fixed;
  top: 0;
  z-index: 5;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 100px;
}

nav a {
  color: white;
  text-decoration: none;
/* text-transform: uppercase; */
  font-size: 18px;
 font-family: 'Quicksand';
 font-weight: 700;
}

nav a:hover {
  color: #9F4646;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50PX;
  font-family: 'Righteous';
  color: white;


}

/* .title {
  font-size: 25px;
  color: lightblue;
  text-align: center;
  font-style: oblique;
  font-weight: 550;
} */

#twocol {
  grid-template-columns: 1fr 1fr;
  display: grid;
  /*   margin: 30px; */
  max-width: 950px;
  margin: auto;
  text-align: center;
}

/* map style */
#map {
  text-align: center;
  height: 620px;
  margin-top: 0px;
}

#mapnav {
  width: 1200px;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
}
#cover{
  max-height: 300px;
width: 100%;
opacity: 0.5;
}

#allresult,
#no,
#otherfactors,
#resetfilter{
    display: none;

}

#mapwhole,
#beeswarm,
#majorwhole{
  display: none;
  /* visibility: hidden; */
}

.circle {
  fill: #4fbba9;
  opacity: .5;
}

.circle:hover {
  fill: darkred;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 250px;
  height: 100px;
  padding: 2px;
  font: 15px sans-serif;
  background: rgba(153, 153, 255, .5);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.tooltip1 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip1 .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: rgba(153, 153, 255);
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin: auto;
  border-radius: 2px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;


  z-index: 1;
}

.tooltip1:hover .tooltiptext {
  visibility: visible;
}

form {
  padding: 0;
  margin: 0;
}

/* mapnavs */
#navigation1 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  margin: 30px;
  max-width: 1200px text-align: center;
  margin-left: 250px;
  margin-right: 250px;
}

.results {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  /* display:inline-block; */
  margin: 10px;
  text-align: center;
  margin: auto;
  max-width: 1000px;
}

#specilizationgrid {
  grid-template-columns: 1fr 3fr;
  display: grid;
  margin: 30px;
}

.button {
  display: block;
  /* width: 200px; */
  /*   background-color: lightblue; */
  margin: 10px;
  /*   border: 1px solid grey; */
  text-align: left;
}

.buttoncareer {
  display: inline-block;
  text-align: center;
}

.button1,
.button2,
.button3,
.button4,
.button5,
.button6 {
  display: block;
  /* width: 150px; */
  height: 35px;
  /*   background-color: lightgrey; */
  /*   border: 2px solid red; */
  border-radius: 5px;
  margin: 10px;
}

.nested {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nested div {
  margin: 5px;
}

/* #y1960, #y1990, #y2015 {
  display: inline;
  width: 150px;
  height: 45px;
  background-color: lightblue;
  border-radius: 10px;
  margin: 10px;
}



/* beeswarm chart */
#beeswarm {
  text-align: center;
  height: auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}

.circ:hover {
  fill: red;
}

/* .d_sel{
  background: grey;
} */
.circ {
  fill: #bc53ff;
  fill-opacity: 0.3;
  /*   stroke: black; */
  cursor: pointer;
}

.d_sel {
  height: 35px;
  width: 100px;
  background-color: lightblue;
  margin: 30px;
  margin-top: 100px;
}

/* factsheet chart */
.factnav {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.nested2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.factbutton {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  /*   display: block; */
  height: 35px;
  /* width: 200px; */
  background-color: lightblue;
  margin: 10px;
}

/* .ms{
    background-color: lightgreen;
}
 */
.factnav h3 {
  align-items: center;
  margin: auto;
}

#hides {
  color: white;
}

.factPic {
  width: 550px;
  /* height: 700px; */
  display: inline-block;
  /* background-color: grey; */
  margin: 30px;
}

.factPicImages {
  width: 400px;
}

#reset,
#resetmap,
#resetfilter {
  height: 40px;
  width: 100px;
  background-color: #BE6A64;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  display: block;
}

#tuitionbutton,
#locationbutton,
#majorbutton{
  height: 40px;
  width: 100px;
  background-color: #BE6A64;
  text-align: center;
  margin: 30px;
  margin-bottom: 30px;
  display: inline-block;
}

#factsheet,
#major,
#track,
#programoverview {
  width: 950px;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
}

span.img {
  /* display: none;
  float:left;
  margin-left: 10px; */
}

.img {
  display: absolute;
  left: 50px;
}

.CheckboxStyle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}



.CheckboxStyle label {
  display: block;
  position: relative;
  padding: 10px 5px 10px 35px;
  font-family: Quicksand;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  /* top: 0px; */
  left: 0;
  height: 20px;
  width: 20px;
  background-color: pink;
  border: 2px solid #ddd;
}

/* On mouse-over, add a grey background color */
.labelcontainer:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.labelcontainer input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.labelcontainer input:checked~.checkmark:after {
  display: block;
}

.labelcontainer .checkmark:after {
  /*   left: 9px;
top: 5px;
width: 5px;
height: 10px; */
  width: 6px;
  height: 12px;
  top: 0px;
  left: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

P {
  font-size: 20px;
}

label {
  font-size: 18px;
}

.comparison {
  width: 1300px;
  text-align: center;
  margin: auto;
}

/* section {
  margin-top: 100px;
  text-align: center;
} */
#uxoverview{
  margin-top: 20px;
}
#programoverview,
#yourown{
    margin-top: 100px;
    text-align: center;

}
#designer {
  display: block;
}


h1{
  font-family: 'Righteous';
  font-size: 40px;
  text-align: center;
  color:#9F4646;

}
h2{
  font-family: 'Righteous';
  font-size: 25px;
  text-align: center;
  color:#152C32;
}

p{
  font-family: 'Quicksand';
  font-size: 20px;
text-align: left;
  color:#000000;
}
.centerp{
  font-family: 'Quicksand';
  font-size: 20px;
text-align: center;
  color:#000000;
}
.twocol_1{
  margin-left: 30px;
  margin-right: 30px;

}
.result{
  font-family: 'Quicksand';
  font-size: 14px;
text-align:left;
  color:#000000;
  text-decoration: none;
}
a{
text-decoration: none;
}

th, td {
  font-family: 'Quicksand';
  font-size: 12px;
text-align:left;
  border: 1px solid #ddd;
}
th{
  font-family:  'Righteous';
  font-size: 14px;
  font-weight: 400;

}
/* .CheckboxStyle input[type="checkbox"]:checked+label:after {

  border:2px solid #009688;
  border-width:0 2px 2px 0;
  width: 8px;
  height: 16px;
  top:7px;
  left: 7px;
    background:pink;


  -moz-transform: rotate(31deg);
  -ms-transform: rotate(31deg);
  -webkit-transform: rotate(31deg);
  transform: rotate(31deg);
} */
